<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Whatssapp Esfot</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-img src="../../../assets/loginImg.png" class="background"/>
  <form [formGroup]="credentialForm">
    <ion-item>
      <ion-input
        placeholder="Correo electrónico"
        formControlName="email"
        autofocus="true"
        clearInput="true"
      ></ion-input>
    </ion-item>
    <div *ngIf="email?.dirty || email?.touched" class="contValidacionEmail">
      <div *ngIf="email?.errors" class="errors">
        <ion-text *ngIf="email?.errors?.['required']" color="danger">Este campo es obligatorio</ion-text>
        <ion-text *ngIf="email?.errors?.['email']" color="danger">Formato de correo inválido</ion-text>
      </div>
    </div>

    <ion-item>
      <ion-input
        placeholder="Contraseña"
        type="password"
        formControlName="password"
        clearInput="true"
      ></ion-input>
    </ion-item>
    <div *ngIf="password?.dirty || password?.touched" class="contValidacionPass">
      <div *ngIf="password?.errors" class="errors">
        <ion-text *ngIf="password?.errors?.['required']" color="danger">Este campo es obligatorio</ion-text>
        <ion-text *ngIf="password?.errors?.['minlength']" color="danger">Tu contraseña debe tener por lo menos 6 carácteres</ion-text>
      </div>
    </div>
  </form>

  <ion-button (click)="signUp()" expand="full">Regístrate</ion-button>
  <ion-button (click)="signIn()" expand="full" color="secondary">Iniciar Sesión</ion-button>
  <ion-button (click)="signInWithGoogle()" expand="full" color="tertiary">Iniciar Sesión con Google</ion-button>

</ion-content>
